@import './fonts.css';
@import 'tailwindcss';

:root {
  --font-inter: 'Inter', system-ui, Helvetica, Arial, sans-serif;
}

@theme {
  --color-primary: #05a845;
  --color-primary-hover: #098038;
  --color-accent: #fe8f17;
  --color-default: #1b1b1b;
  --color-fruits: #fbf3ee;
  --color-fish: #fce0ca;
  --color-cooking: #d6f2f3;
  --color-beverages: #ffecb4;
  --color-home: #ffedf1;
  --color-control: #e0d8c9;
  --color-office: #fee7d7;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-inter);
  color: var(--color-default);
}
