@import './fonts.css';
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-inter: 'Inter', system-ui, Helvetica, Arial, sans-serif;
}

@theme {
  --color-primary: var(--color-green-800);
  --color-primary-hover: var(--color-green-600);
  --color-accent: var(--color-orange-400);
  --color-default: #1b1b1b;
  --color-fruits: #fbf3ee;
  --color-fish: #fce0ca;
  --color-cooking: #d6f2f3;
  --color-beverages: #ffecb4;
  --color-home: #ffedf1;
  --color-control: #e0d8c9;
  --color-office: #fee7d7;
  --header-height: 9.25rem;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-inter);
}
